<%# The HTML page template %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title ? `${title} | ` : null %>Polar Survey</title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/app.css">
  <% for (const s of styles) { %>
  <link rel="stylesheet" href="/styles/<%= s %>.css">
  <% } %>
</head>

<body>
  <header>
    <%- include("partials/header") %>
  </header>

  <main class="container mb-5">
    <%- include(`pages/${page}`) %>
  </main>

  <footer>
    <%- include("partials/footer") %>
  </footer>

  <!-- Scripts -->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <% for (const s of scripts) { %>
  <script src="/scripts/<%= s %>.js"></script>
  <% } %>
</body>

</html>
