<%# The header of every page %>
<%# Polar Survey %>
<%# @author Aun Raza (301074590) %>
<%# @author Jamee Kim (301058465) %>
<%# @author Jerome Ching (300817930) %>
<%# @author Sophie Xu (301098127) %>
<%# @author Tien Sang Nguyen (301028223) %>
<%# @author Eunju Jo (301170731) %>

<h1 class="text-center polarText display-1">Survey Response</h1>
<div class="row">
  <div class="col">
  <h2 class="text-center polarText">Statistics</h2>
  <table class="table border border-dark">
      <thead>
        <br><br>
        <tr>
          <th scope="col" class="text-center">Question #</th>
          <th scope="col" class="text-center"> True</th>
          <th scope="col" class="text-center">False</th>
          <th scope="col" class="text-center">Total True</th>
          <th scope="col" class="text-center">Total False</th>
        </tr>
      </thead>
      <tbody>

        <!--Repeatable Row Template-->

        <% for(let count = 0; count < surveyResponses.length; count++){ %>
        <tr>
          <th scope="row" class="polarText text-center">Question <%= count + 1 %></th>
          <th class="text-center polarText"><%= tally[count] / surveyResponses.length%></th>
          <th class="text-center polarText"><%= (surveyResponses.length - tally[count]) / surveyResponses.length%></th>
          <th class="text-center polarText"><%= tally[count]%></th>
          <th class="text-center polarText"><%= surveyResponses.length - tally[count]%></th>
        </tr>
        <% } %>
      </tbody>
    </table>
    <h2 class="text-center polarText">Raw Data</h2>
    <table class="table border border-dark">
      <thead>
        <br><br>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Answer1</th>
          <th scope="col">Answer2</th>
          <th scope="col">Answer3</th>
          <th scope="col">Answer4</th>
          <th scope="col">Answer5</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <!--Repeatable Row Template-->

        <% for(let count = 0; count < surveyResponses.length; count++){ %>
        <tr>
          <th scope="row" class="polarPurpleText"><%= count + 1 %></th>
          <td><%= surveyResponses[count].question %></td>
          <td><%= surveyResponses[count].answers[0] %></td>
          <td><%= surveyResponses[count].answers[1] %></td>
          <td><%= surveyResponses[count].answers[2] %></td>
          <td><%= surveyResponses[count].answers[3] %></td>
          <td><%= surveyResponses[count].answers[4] %></td>
          <td class="text-center"><a href="/deleteres/<%= surveyResponses[count]._id %>" class="btn btn-danger editBTN"> Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
